<footer>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <p> Nom Nom Noms </p>
            </div>
        </div>
    </div>
</footer>