<nav class="navbar navbar-expand-lg navbar bg">
    <div class="container">
        <a class="navbar-brand" href="/">Glecipes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home </a>
      <a class="nav-item nav-link" href="/tags/">Recipes</a>
      <a class="nav-item nav-link" href="/categories/">Categories</a>
      <a class="nav-item nav-link" href="/orginals/">Orginals</a>
      <a class="nav-item nav-link" href="/about/">About</a>

    </div>
  </div>
        
        <form  id="search" class="me-4 search" role="search">
            <div class="input-group">
                <input type="search" class="form-control dropdown-toggle" placeholder="Search..." id="search-input">
                <span class="mdi mdi-magnify search-icon"></span>
                <button class="input-group-text btn-primary" type="submit">Search</button>
            </div>
        </form>  

    <div> </br> </div>
      
                <!-- Dark Mode Button -->
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="darkModeSwitch" checked>
        <label class="form-check-label" for="darkModeSwitch"> 
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars-fill" viewBox="0 0 16 16">
            <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278"/>
            <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.73 1.73 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.73 1.73 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.73 1.73 0 0 0 1.097-1.097zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
          </svg>
        </label>
      </div>
        
    </div>
    
    <div id="col-md-4">
        <!-- Format info for search results -->
        <template id="search-result" hidden>
            
          <article class="content post">
            <h2 class="post-title"><a class="summary-title-link"></a></h2>
            <summary class="summary"></summary>
            <div class="read-more-container">
              <a class="read-more-link">Read More »</a>
            </div>
          </article>
        
        </template>
    </div>
    
</nav>

<!-- Search results displayed here-->
<div class="row justify-content-center">
    <div class="main-inner col-md-4">
    </div>
</div>

 <!-- Dark Mode Button -->
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const htmlElement = document.documentElement;
    const switchElement = document.getElementById('darkModeSwitch');

    // Set the default theme to dark if no setting is found in local storage
    const currentTheme = localStorage.getItem('bsTheme') || 'dark';
    htmlElement.setAttribute('data-bs-theme', currentTheme);
    switchElement.checked = currentTheme === 'dark';

    switchElement.addEventListener('change', function () {
        if (this.checked) {
            htmlElement.setAttribute('data-bs-theme', 'dark');
            localStorage.setItem('bsTheme', 'dark');
        } else {
            htmlElement.setAttribute('data-bs-theme', 'light');
            localStorage.setItem('bsTheme', 'light');
        }
    });
});
</script>

 <!-- Copy Text Button -->
 <script>
  function copyListText() {
    // Get the element's text content
    const contentToCopy = document.getElementById("contentToCopy").innerText;

    // Copy text to clipboard using navigator.clipboard
    navigator.clipboard.writeText(contentToCopy)
      .then(() => {
        console.log("List copied to clipboard!");
      })
      .catch(err => {
        console.error("Failed to copy text: ", err);
      });
  }
</script>

</script>
