<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1>{{.Page.Params.recipes.name}}</h1>

            {{if .Page.Params.recipes.author.link}} 
            <p> Orginal Author: <a href="{{.Page.Params.recipes.author.link}}"> {{.Page.Params.recipes.author.name}} </a> </p>
            {{else}}
            <p> Orginal Author: {{.Page.Params.recipes.author.name}} </p>
            {{end}}
            <ul>
                <li>Prep Time: {{.Page.Params.recipes.prepTime}}</li>
                <li>Cook Time: {{.Page.Params.recipes.cookTime}}</li>
                <li>Total Time: {{.Page.Params.recipes.totalTime}}</li>
                <li>Typical Yield: {{.Page.Params.recipes.yield}}</li>
            </ul>

            <div class="form-check form-switch">
                

               
                <input class="form-check-input" type="checkbox" id="data-wake-lock" data-status="off">
                <label class="form-check-label" for="data-wake-lock">Keep Screen Awake: <span class="text-primary" id="WL-status"></section></label>
                
            </div>

        </div>
        <div class="col-md-4 position-relative">
           <h4>Ingredients </h4>
           <button class="btn btn-outline-secondary btn-sm position-absolute top-0 end-0" type="button" onclick="copyListText()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                </svg>
            </button>
            <ul id="contentToCopy">
                {{ range $ingredients := .Page.Params.recipes.ingredients}}   
                    {{range $key1, $value1 := $ingredients }}
                        {{range $elementKey1, $elemValue1 := $value1}}
                            {{if eq $elementKey1 "name"}} 
                                <b> {{$elemValue1}}:</b>
                            {{else}}
                                <ul>
                                {{range $elemValue1}}
                                    <li>{{.}}</li>
                                {{end}}
                                </ul>
                            {{end}}
                        {{end}}
                    {{end}}
                {{end}}
            </ul>
        </div>
        
        <div class ="col-md-auto">
           <h4>Instructions</h4>
            <ol>
                {{ range $instruct := .Page.Params.recipes.instructions}}
                    <li>
                    {{range $key, $value := $instruct }}
                        {{range $elementKey, $elemValue := $value}}
                            {{if eq $elementKey "name"}} 
                                <b> {{$elemValue}}:</b>
                            {{else}}
                                {{$elemValue}}
                            {{end}}
                        {{end}}
                    {{end}}
                    </li>
                {{end}}
            </ol>
                        
            {{if .Page.Params.recipes.proTips }}
            ProTips:
             {{range .Page.Params.recipes.proTips}}
                <p> {{.}} </p>
             {{end}}
            {{end}}

            {{if .Page.Params.recipes.images }}
                {{range .Page.Params.recipes.images}}
                    <img class="img-fluid" style="width: 70%; height: auto;" src="./{{.}}">
                {{end}}
            {{end}}
            

        </div>
    </div>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Recipe",
            "name": "{{.Page.Params.recipes.name}}",
            {{if .Page.Params.recipes.images }}
            "image": [
                {{range .Page.Params.recipes.images}}
                    "{{.}}"
                {{end}}
            {{else}}
            "image": [ "https://cuculi.com/assets/images/meal-default-img.jpg"
            {{end}}
            ],
            "author": {
              "@type": "Person",
              "name": "{{.Page.Params.recipes.author.name}}"
            },
            "datePublished": "{{.Page.Params.date}}",
            "description": "{{.Page.Params.description}}",
            {{if .Page.Params.recipes.recipeCuisine}}
            "recipeCuisine": "{{.Page.Params.recipes.recipeCuisine}}",
            {{end}}
            "prepTime": "PT{{.Page.Params.recipes.prepTime}}M",
            "cookTime": "PT{{.Page.Params.recipes.cookTime}}M",
            "totalTime": "PT{{.Page.Params.recipes.totalTime}}M",
            "keywords": "non-alcoholic",
            "recipeYield": "{{.Page.Params.recipes.yield}}",
            "recipeCategory": "{{.Page.Params.categories}}",
            {{if .Page.Params.recipes.nutrition }}
            "nutrition": {
              "@type": "NutritionInformation",
              "calories": "120 calories"
            },
            {{end}}
            "recipeIngredient":
                {{$listOfAllIngredients := slice }}
                {{ range $pageIgreds := .Page.Params.recipes.ingredients}}
                    {{ range $elementKey, $elemValue := $pageIgreds}}
                        {{if $elemValue.ingredient}}
                            {{$listOfAllIngredients = $listOfAllIngredients | union $elemValue.ingredient }}   
                        {{end}}
                    {{end}} 
                {{end}}
                {{$listOfAllIngredients}},
            
            "recipeInstructions": [
             {{$len := (len  .Page.Params.recipes.instructions)}}
             {{ range $index, $instruct := .Page.Params.recipes.instructions}}
               {
                 "@type": "HowToStep",   
                {{range $key, $value := $instruct }}
                        {{range $elementKey, $elemValue := $value}}
                        
                            {{if eq $elementKey "name"}} 
                               "name": {{$elemValue}}, 
                            {{else}}
                                "text": {{$elemValue}}
                            {{end}}
                        
                        {{end}}
                {{end}}
                
                {{if eq (add $index 1) $len }}    
                    }
                {{else}}
                    },
                {{end}}
             {{end}}
            ]

        }
    
    </script>
</div>