{{- $pathURL := .Get "pathURL" -}}
{{- $path := .Get "path" -}}
<ul>
  {{ range readDir $path }}
    {{ if .IsDir }}
      {{$dirName := .Name}}
      <li>
        <strong>{{ .Name }}</strong>
        <ul>
          {{ range readDir (print $path "/" .Name) }}
            {{ if not .IsDir }}
              <li><a href="{{ printf "%s/%s/%s" $pathURL $dirName .Name | relURL }}">{{ .Name }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
      </li>
    {{ else }}
      <li><a href="{{ printf "/%s" .Name | urlize }}">{{ .Name }}</a></li>
    {{ end }}
  {{ end }}
</ul>
