<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
            {{- partial "home.html" . -}}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
