<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
           <!-- Recipes here -->
           <div class="container text-center">
            
            <div id="row">
                <div id="col-md-2">
                 <div class="posts-list">
                        {{ range .Paginator.Pages }} {{$tagTitle := .Title}}
                          <article class="post-preview">
                            <a href="{{ .Permalink }}">
                              <h2 class="post-title">{{ .Title }}
                              {{ if .Params.subtitle }}
                                <h3 class="post-subtitle">
                                  {{ .Params.subtitle }}
                                </h3>
                              {{ end }}
                            </a>

                            {{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
                              {{ if eq $tagTitle $name }}
                                <sup>{{$cnt}}</sup>
                              {{end}}
                            {{end}}
                          </h2>
                  
                            <div class="post-entry">
                              {{ if .Truncated }}
                                {{ .Summary }}
                                <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
                              {{ else }}
                                {{ .Content }}
                                {{.Description}}
                            </br>
                              {{ end }}
                            </div>
                  
                            {{ if .Params.tags }}
                              <span class="post-meta">
                                {{ range .Params.tags }}
                                  #<a href="{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
                                   
                                {{ end }}
                              </span>
                            {{ end }}
                  
                          </article>
                        {{ end }}
                      </div>
              
                </div>
                </div>
            </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>