<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
           <!-- Recipes here -->
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>

