<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
           {{if .Page.Params.recipes}} 
           <!-- Recipes here -->
           {{- partial "recipes-details.html" . -}}
           {{else}}
           {{- partial "article.html" . -}}
           {{end}}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
